<!doctype html>
<html lang="fr">
	<head>
		<title>M22M, pour une université gratuite,populaire, critique, émancipatrice, de proximité, ouverte à tous et à toutes</title>
		<link rel="stylesheet" href="assets/css/style.css"/>
		<meta http-equiv="Content-Security-Policy" content="default-src https:">
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	</head>
	<body>
		<header id="header" class="h-card">
            <img src="assets/logo.gif" alt="M22M"/>
            <p>Pour une université gratuite, populaire, critique, émancipatrice, de proximité, ouvert à toutes et tous</p>
            <nav>
                <a href="https://www.facebook.com/m22m.uppa" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		        <a href="https://www.instagram.com/m22m_uppa/" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		        <a href="mailto:mouvement.22.mars@gmail.com" class="social"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </nav>
		</header>
		<main id="main">
      {{ content }}
  </main>
		<footer>
		  <p>Liste composée par les membres de <a href="https://www.facebook.com/solidairesetudiantespauoccitanie/">Solidaires Étudiant·e·s Pau Occitanie</a>, du <a href="https://www.facebook.com/medocdepau">Med'oc de Pau</a>, d'étudiant·e·s indépendant·e·s et soutenue par la <a href="https://cgt.fercsup.net/syndicats/aquitaine-limousin-poitou-charentes/universite-de-pau-et-des-pays-de-l-adour-uppa/">CGT FERC sup UPPA</a>, L'<a href="https://larrosoirpau.legtux.org">Arrosoir</a> et <a href="https://www.facebook.com/art.et.fac.pau/">Art&Fac</a>.</p>
		</footer>
	</body>
</html>
